<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.timeface.open">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--<meta-data-->
            <!--android:name="cn.timeface.open.utils.glide.TFGlideModule"-->
            <!--android:value="GlideModule" />-->

        <activity
            android:name=".activities.base.BaseRecyclerViewActivity"
            android:label="@string/title_activity_base_recycler_view" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="cn.timeface.open.activities.PODActivity"
            android:label="@string/title_activity_pod"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="cn.timeface.open.activities.EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme" />
        <activity
            android:name="cn.timeface.open.activities.EditTextActivity"
            android:label="@string/title_activity_edit_text"
            android:theme="@style/AppTheme" />
    </application>

</manifest>